*{
  box-sizing: border-box !important;
}
html{
  padding: 0px !important;
  margin: 0px !important;
  box-sizing: border-box;
}
nav{
  margin-top: 0px;
  background-color: #1d242b;
  color: #fafafa;
  width: 100%;
  height: 100px;
  top: 0px;
  position: fixed;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

ul li {
  list-style: none;
}
body {
  padding: 0px;
  margin: 0px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
}

form{
  width: 50%;
 
  background-color: #fafafa;
  
}
.contenedor {
  display: flex;

justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
background-color: #3a3a3a; 
}
.form-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
padding: 100px;

background-color: #ffffff; 


}
.is-invalid{
  border: red 1px solid;
}
.errors {
  color: red;
  font-size: 16px;
  font-style: italic;
  font-weight: 200;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: -10px 0px;
  
}

.formRegister{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.boton{
  margin-top: 30px;
  align-self: center;
  width: 50%;
}

.products-wrapper {
  margin: 30px;
  
  width: 25%;
}

.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: var(--gray);
}

.product-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  
  border-bottom: 1px solid var(--light-gray);
}

figure img {
  width: 350px;
  height: 350px;
}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--naranja);
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--naranja);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 40px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}

.delete{
  margin-left: 30px;
}
