<!DOCTYPE html>
<html>

<head>
    <title>
        registro
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="form-container">
        <form action="/users/register" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" id="name" placeholder="Introduce tu nombre"><br>
            <input type="file" name="imagenUsuario"><br>
            <button type="submit">Enviar</button>

        </form>

    </div>
</body>

</html>