<!DOCTYPE html>
<html>

<head>
    <title>
        Usuarios
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<nav>
    <ul>
        <li><a href="/users/register">Registrarse</a></li>
    </ul>
</nav>

<body>

</body>

</html>